.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slds-m-top_medium {
    margin-top: 1rem;
}

.create-claim-button {
    padding: 1rem 2rem; 
    font-size: 1.25rem; 
    font-weight: bold; 
}